#### PAIR PROGRAMMING - ETL 2

In [20]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np

import datetime

Tendréis que usar el csv attacks_limpieza_completa que tenéis adjunto abajo.


En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD. En este momento tenemos dos fuentes de datos:

In [21]:
df = pd.read_csv('datos/poblacion_comunidades.csv', index_col = 0)

In [22]:
df_ccaa = pd.read_csv('datos/df_energia_ccaa.csv', index_col = 0)

In [23]:
df_ccaa.head(2)

,value,percentage,datetime,tipo_energía,comunidad,id_comunidad
0,202972.8930,1.000000,2011-01-01T00:00:00.000+01:00,No_renovable,Ceuta,8744
0,3589.0825,0.016703,2011-01-01T00:00:00.000+01:00,Renovable,Melilla,8745

In [42]:
df_nacional = pd.read_csv('datos/df_energia_pais.csv', index_col = 0)
df_nacional.head(2)

          value  percentage                       datetime  tipo_energía
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00     Renovable
0  1.926868e+08    0.689759  2011-01-01T00:00:00.000+01:00  No_renovable

1. El csv donde tenemos la información censal de cada Comunidad Autónoma tiene algunas columnas que no son redundantes para nuestro análisis, en este csv tendremos que:

- Eliminar la columna de Comunidades_y_Ciudades_Autónomas

In [24]:
df_ccaa.drop(['comunidad'], axis= 1, inplace= True)

In [25]:
df_ccaa.head(1)

,value,percentage,datetime,tipo_energía,id_comunidad
0,202972.893,1.0,2011-01-01T00:00:00.000+01:00,No_renovable,8744

2. En el csv con la información de generación de energías renovables y no renovables a nivel nacional deberéis:

- Para las columnas value y percentage, redondear los decimales de los valores a 2.

In [26]:
def redondeo(columna):
    return round(columna, 2)

In [27]:
df_ccaa[['value', 'percentage']] = df_ccaa[['value', 'percentage']].apply(redondeo)

In [43]:
df_nacional[['value', 'percentage']] = df_nacional[['value', 'percentage']].apply(redondeo)

In [28]:
df_ccaa.head()

,value,percentage,datetime,tipo_energía,id_comunidad
0,202972.89,1.00,2011-01-01T00:00:00.000+01:00,No_renovable,8744
0,3589.08,0.02,2011-01-01T00:00:00.000+01:00,Renovable,8745
0,211290.04,0.98,2011-01-01T00:00:00.000+01:00,No_renovable,8745
0,10996921.24,0.28,2011-01-01T00:00:00.000+01:00,Renovable,4
0,27608105.11,0.72,2011-01-01T00:00:00.000+01:00,No_renovable,4

In [44]:
df_nacional.head(3)

          value  percentage                       datetime  tipo_energía
0  8.666705e+07        0.31  2011-01-01T00:00:00.000+01:00     Renovable
0  1.926868e+08        0.69  2011-01-01T00:00:00.000+01:00  No_renovable
0  8.533872e+07        0.30  2012-01-01T00:00:00.000+01:00     Renovable


- La columna datetime es de tipo string, pero esto a nosotras no nos interesa. Además, en esta columna tiene tanto la fecha como la hora, pero en realidad la hora no nos esta aportando nada de información, es por esto que:
    - Deberéis crear una columna nueva donde solo tengamos la información de la fecha en formato AÑO / MES / DIA.
    - Una vez creada la columna anterior, convertirla a datetime.

3. En el csv con la información de generación de energías renovables y no renovables a nivel de comunidad autónoma deberéis aplicar los mismos cambios que aplicamos en el ejercicio anterior.

In [29]:
df_ccaa['datetime'].dtypes

dtype('O')

In [34]:
df_ccaa['fecha'] = df_ccaa ['datetime'].str.split("T", expand = True, n=1).get(0)

In [45]:
df_nacional['fecha'] = df_nacional['datetime'].str.split("T", expand = True, n=1).get(0)

In [35]:
df_ccaa.head(2)

,value,percentage,datetime,tipo_energía,id_comunidad,fecha
0,202972.89,1.00,2011-01-01T00:00:00.000+01:00,No_renovable,8744,2011-01-01
0,3589.08,0.02,2011-01-01T00:00:00.000+01:00,Renovable,8745,2011-01-01

In [46]:
df_nacional.head(1)

,value,percentage,datetime,tipo_energía,fecha
0,86667052.85,0.31,2011-01-01T00:00:00.000+01:00,Renovable,2011-01-01

In [36]:
df_ccaa['fecha'] = df_ccaa['fecha'].apply(pd.to_datetime)

In [47]:
df_nacional['fecha'] = df_nacional['fecha'].apply(pd.to_datetime)

In [37]:
df_ccaa['fecha'].dtypes

dtype('<M8[ns]')

In [48]:
df_nacional['fecha'].dtypes

dtype('<M8[ns]')

In [38]:
df_ccaa.drop(['datetime'], axis = 1, inplace= True)

In [49]:
df_nacional.drop(['datetime'], axis = 1, inplace= True)

In [51]:
df_ccaa.head(1)

       value  percentage  tipo_energía  id_comunidad      fecha
0  202972.89         1.0  No_renovable          8744 2011-01-01

In [50]:
df_nacional.head(1)

         value  percentage tipo_energía      fecha
0  86667052.85        0.31    Renovable 2011-01-01

4. Guardar los resultados obtenidos en pickle que usaremos en próximos ejercicios de pair programming. Cada fichero debe ir en un pickle

In [52]:
df_ccaa.to_pickle('datos/df_ccaa.pickle')

In [53]:
df_nacional.to_pickle('datos/df_nacional.pickle')