Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras.
üìå Nota Todo lo tendremos que hacer desde jupyter notebook

    1. Cread la BBDD con el nombre de energ√≠a. La BBDD tendr√° la siguiente forma:
    2. Cread las tablas de la BBDD:
        2.1. Tabla fechas
        2.2. Tabla nacional_renovable_no_renovable
        2.3. Tabla comunidades_renovable_no_renovable
        2.4. Tabla comunidades
Al final nuestra BBDD tendr√° el siguiente aspecto:

BONUS Insertar los datos en las tablas.
üìå Nota Esta parte del pair es optativa y no ser√° considerada para la evaluaci√≥n

In [1]:
import pandas as pd
import mysql.connector

In [2]:
df = pd.read_pickle('datos/df_nacional.pkl')
df.head(2)

          value  percentage  tipo_energ√≠a      fecha
0  8.666705e+07        0.31     Renovable 2011-01-01
0  1.926868e+08        0.69  No_renovable 2011-01-01

In [3]:
df2 = pd.read_pickle('datos/df_ccaa.pkl')
df.head(2)

          value  percentage  tipo_energ√≠a      fecha
0  8.666705e+07        0.31     Renovable 2011-01-01
0  1.926868e+08        0.69  No_renovable 2011-01-01

In [4]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab", # aqu√≠ tendr√©is que poner vuestra contrase√±a de MySQL
      auth_plugin = 'mysql_native_password') # esta l√≠nea no es necesaria solo lo tendr√©is que incluir si os sale el siguiente error: Authentication plugin 'caching_sha2_password' is not supported
    print("Conexi√≥n realizada con √©xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [5]:
mydb = crear_bbdd("energia")

Conexi√≥n realizada con √©xito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS energia;

In [6]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase√±a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}",  
                                     auth_plugin = 'mysql_native_password')
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [7]:
tabla_comunidades = '''
CREATE TABLE IF NOT EXISTS `energia`.`comunidades` (
  `idcomunidades` INT NOT NULL,
  `comunidad` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;
'''

In [8]:
tabla_fecha = ''' 
CREATE TABLE IF NOT EXISTS `energia`.`fecha` (
  `idfecha` INT NOT NULL,
  `fecha` DATE NULL DEFAULT NULL,
  PRIMARY KEY (`idfecha`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;
'''

In [9]:
tabla_comunidades_renovable_no_renovable= '''

CREATE TABLE IF NOT EXISTS `energia`.`comunidades_renovable_no_renovable` (
  `idcomunidades_renovable_no_renovable` INT NOT NULL,
  `porcentaje` DECIMAL(10,0) NULL DEFAULT NULL,
  `tipo_energia` VARCHAR(45) NULL DEFAULT NULL,
  `valor` DECIMAL(10,0) NULL DEFAULT NULL,
  `comunidades_idcomunidades` INT NOT NULL,
  `fecha_idfecha` INT NOT NULL,
  PRIMARY KEY (`idcomunidades_renovable_no_renovable`),
  INDEX `fk_comunidades_renovable_no_renovable_comunidades_idx` (`comunidades_idcomunidades` ASC) VISIBLE,
  INDEX `fk_comunidades_renovable_no_renovable_fecha1_idx` (`fecha_idfecha` ASC) VISIBLE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_comunidades`
    FOREIGN KEY (`comunidades_idcomunidades`)
    REFERENCES `mydb`.`comunidades` (`idcomunidades`),
  CONSTRAINT `fk_comunidades_renovable_no_renovable_fecha1`
    FOREIGN KEY (`fecha_idfecha`)
    REFERENCES `mydb`.`fecha` (`idfecha`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;
'''

In [10]:
tabla_nacional_renovable_no_renovable = '''
CREATE TABLE IF NOT EXISTS `energia`.`nacional_renovable_no_renovable` (
  `idnacional_renovable_no_renovable` INT NOT NULL,
  `porcentaje` DECIMAL(10,0) NULL DEFAULT NULL,
  `tipo_energia` VARCHAR(45) NULL DEFAULT NULL,
  `valor` DECIMAL(10,0) NULL DEFAULT NULL,
  `fecha_idfecha` INT NOT NULL,
  PRIMARY KEY (`idnacional_renovable_no_renovable`),
  INDEX `fk_nacional_renovable_no_renovable_fecha1_idx` (`fecha_idfecha` ASC) VISIBLE,
  CONSTRAINT `fk_nacional_renovable_no_renovable_fecha1`
    FOREIGN KEY (`fecha_idfecha`)
    REFERENCES `mydb`.`fecha` (`idfecha`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;
'''

In [11]:
crear_insertar_tabla("energia","AlumnaAdalab", tabla_comunidades)

In [12]:
crear_insertar_tabla("energia","AlumnaAdalab", tabla_fecha)

In [13]:
crear_insertar_tabla("energia","AlumnaAdalab", tabla_comunidades_renovable_no_renovable)

In [14]:
crear_insertar_tabla("energia","AlumnaAdalab", tabla_nacional_renovable_no_renovable)