Es el momento de ponernos a trabajar con los valores nulos 💪🏽. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lección hemos aprendido varios métodos, nosotras os planteamos los ejercicios pero sentiros libres de usar el método que más se adapte a vuestras necesidades. Manos a la obra!

    1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¿Hay alguna columna con una gran cantidad de nulos? En caso de que sea así deberemos eliminarla.

    2. Es el momento de eliminar los nulos:
        2.1. Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

        2.2. Reemplazad los valores nulos de la columna duration por la mediana de la edad, redondeada a dos decimales.

        2.3. En relación a las columnas de education, default, housing y loan al tratarse de columnas de tipo categórica, reemplazad los valores nulos por una nueva categória que se llame unknown.

        2.4. Reemplazad los valores nulos de las columna job y marital por el valor más frecuente (la moda).

    3. Guardad el csv.