#### PAIR PROGRAMMING - LIMPIEZA 5

In [32]:
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('datos/bank_additional_edit3.csv', index_col = 0)

Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!

Es el momento de eliminar los nulos:
    
    1. Reemplazad los valores nulos del resto de las columnas categ√≥ricas por la moda, usando el m√©todo SimpleImputer.
üí° Pista üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [4]:
df_cat = df.select_dtypes(include= 'object')
df_cat.head(2)

,job,marital,education,default,housing,loan,contact,poutcome,y,month_day_week,month,day_week
0,housemaid,married,basic 4y,No,No,No,telephone,nonexistent,no,"['may', 'mon']",'may','mon'
1,services,married,high school,NaN,No,No,telephone,nonexistent,no,"['may', 'mon']",'may','mon'

In [5]:
df_cat.isna().sum()*100/df_cat.shape[0]

job                0.811073
marital            0.203983
education          4.210782
default           20.883924
housing            2.413793
loan               2.413793
contact            0.009713
poutcome           0.009713
y                  0.009713
month_day_week     0.009713
month              0.009713
day_week           0.009713
dtype: float64

In [6]:
imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)

In [7]:
df_cat.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week'],
      dtype='object')

In [8]:
imputer = imputer.fit(df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week']])

In [9]:
df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week']] = imputer.transform(df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week']])

In [10]:
df.isnull().sum()

index             4
age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
duration          4
campaign          4
pdays             2
previous          1
poutcome          0
emp,var,rate      4
cons,price,idx    4
cons,conf,idx     4
euribor3m         4
nr,employed       4
y                 0
month_day_week    0
month             0
day_week          0
dtype: int64

In [11]:
df.head(2)

,index,age,job,marital,education,default,housing,loan,contact,duration,...,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week,month,day_week
0,0.0,56.0,housemaid,married,basic 4y,No,No,No,telephone,261.0,...,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,"['may', 'mon']",'may','mon'
1,1.0,57.0,services,married,high school,No,No,No,telephone,149.0,...,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,"['may', 'mon']",'may','mon'

    2. Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [12]:
df['job'].unique()

array(['housemaid', 'services', 'administrative', 'blue-collar',
       'technician', 'retired', 'management', 'unemployed',
       'self-employed', 'entrepreneur', 'student'], dtype=object)

In [13]:
df_num = df.select_dtypes(include = np.number)
df_num.head(2)

,index,age,duration,campaign,pdays,previous,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed"
0,0.0,56.0,261.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
1,1.0,57.0,149.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0

In [14]:
df_num.isnull().sum()

index             4
age               2
duration          4
campaign          4
pdays             2
previous          1
emp,var,rate      4
cons,price,idx    4
cons,conf,idx     4
euribor3m         4
nr,employed       4
dtype: int64

In [15]:
imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [16]:
imputer.fit(df_num)

IterativeImputer()

In [17]:
imputer.transform(df_num)

array([[ 0.00000000e+00,  5.60000000e+01,  2.61000000e+02, ...,
        -3.64000000e+01,  4.85700000e+00,  5.19100000e+03],
       [ 1.00000000e+00,  5.70000000e+01,  1.49000000e+02, ...,
        -3.64000000e+01,  4.85700000e+00,  5.19100000e+03],
       [ 2.00000000e+00,  3.70000000e+01,  2.26000000e+02, ...,
        -3.64000000e+01,  4.85700000e+00,  5.19100000e+03],
       ...,
       [ 2.04226543e+04,  3.80000000e+01,  2.50138896e+02, ...,
        -4.07247026e+01,  3.62139957e+00,  5.16753337e+03],
       [ 2.04154208e+04,  3.98901346e+01,  2.49599504e+02, ...,
        -4.06925602e+01,  3.62397637e+00,  5.16759094e+03],
       [ 2.04154208e+04,  3.98901346e+01,  2.49599504e+02, ...,
        -4.06925602e+01,  3.62397637e+00,  5.16759094e+03]])

In [18]:
numericas_trans = pd.DataFrame(imputer.transform(df_num), columns = df_num.columns)
numericas_trans.head(2)

,index,age,duration,campaign,pdays,previous,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed"
0,0.0,56.0,261.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
1,1.0,57.0,149.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0

In [19]:
numericas_trans.isnull().sum()

index             0
age               0
duration          0
campaign          0
pdays             0
previous          0
emp,var,rate      0
cons,price,idx    0
cons,conf,idx     0
euribor3m         0
nr,employed       0
dtype: int64

In [20]:
columnas = numericas_trans.columns

In [21]:
df.drop(columnas, axis = 1, inplace=True)

In [22]:
df[columnas] = numericas_trans[columnas]

In [23]:
df.isnull().sum()

job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
poutcome          0
y                 0
month_day_week    0
month             0
day_week          0
index             3
age               3
duration          3
campaign          3
pdays             3
previous          3
emp,var,rate      3
cons,price,idx    3
cons,conf,idx     3
euribor3m         3
nr,employed       3
dtype: int64

In [27]:
df.duplicated().sum()

2

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df.isnull().sum()

job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
poutcome          0
y                 0
month_day_week    0
month             0
day_week          0
index             1
age               1
duration          1
campaign          1
pdays             1
previous          1
emp,var,rate      1
cons,price,idx    1
cons,conf,idx     1
euribor3m         1
nr,employed       1
dtype: int64

In [24]:
# def eliminar_nulos_iterative(dataframe_completo):
#     dataframe_num = dataframe_completo.select_dtypes(include = np.number)
#     display(dataframe_num)
#     imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')
#     imputer.fit(dataframe_num)
#     numericas_trans = pd.DataFrame(imputer.transform(dataframe_num), columns = dataframe_num.columns)

#     dataframe_completo.drop(dataframe_num.columns, axis = 1, inplace= True)
#     dataframe_completo[numericas_trans.columns] = numericas_trans[numericas_trans.columns]
#     # dataframe_completo = pd.concat([dataframe_completo, numericas_trans], axis = 1)

#     return dataframe_completo

    3. Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo KNN Imputer.

In [30]:
df_edad = df["age"].reset_index()
df_edad

       index        age
0          0  56.000000
1          1  57.000000
2          2  37.000000
3          3  40.000000
4          4  56.000000
...      ...        ...
41173  41173  56.000000
41174  41174  44.000000
41175  41175  74.000000
41176  41183        NaN
41177  41178  39.890135

[41178 rows x 2 columns]

In [31]:
imputerknn = KNNImputer(n_neighbors = 5)
imputerknn.fit(df_edad)

KNNImputer()

In [34]:
num_knn = imputerknn.transform(df_edad)

In [35]:
df_edad_knn = pd.DataFrame(num_knn, columns = df_edad.columns)

In [36]:
cols_knn = df_edad_knn.columns

In [37]:
#Eliminamos esas columnas del df original
df.drop(cols_knn, axis=1, inplace=True)

In [38]:
df[cols_knn] = df_edad_knn

In [39]:
df['age'].isnull().sum()

2

In [42]:
df.isnull().sum()

job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
poutcome          0
y                 0
month_day_week    0
month             0
day_week          0
duration          1
campaign          1
pdays             1
previous          1
emp,var,rate      1
cons,price,idx    1
cons,conf,idx     1
euribor3m         1
nr,employed       1
index             2
age               2
dtype: int64

In [41]:
df.duplicated().sum()

0

    4. Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo Simple Imputer.

In [44]:
imputer = SimpleImputer(strategy= 'mean', missing_values=np.nan)

In [45]:
imputer = imputer.fit(df[['age']])

In [46]:
df['age'] = imputer.transform(df[['age']])

In [47]:
df.isnull().sum()

job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
poutcome          0
y                 0
month_day_week    0
month             0
day_week          0
duration          1
campaign          1
pdays             1
previous          1
emp,var,rate      1
cons,price,idx    1
cons,conf,idx     1
euribor3m         1
nr,employed       1
index             2
age               0
dtype: int64

    5. ¬øPodr√≠ais explicar qu√© diferencia hay entre estos √∫ltimos tres ejercicios?

La principal diferencia es que en el Imputer se elige la estrategia a seguir, mientras que en los otros dos m√©todos, ellos eligen el valor por el que se sustituye, siendo este m√°s acertado que en el m√©todo Simple Imputer.

    6. Guardad el csv.

In [48]:
df.to_csv('datos/bank_additional_edit5.csv')