In [20]:
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('datos/bank_additional_edit3.csv', index_col = 0)

Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!

Es el momento de eliminar los nulos:
    
    1. Reemplazad los valores nulos del resto de las columnas categ√≥ricas por la moda, usando el m√©todo SimpleImputer.
üí° Pista üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [4]:
df_cat = df.select_dtypes(include= 'object')
df_cat.head(2)

,job,marital,education,default,housing,loan,contact,poutcome,y,month_day_week,month,day_week
0,housemaid,married,basic 4y,No,No,No,telephone,nonexistent,no,"['may', 'mon']",'may','mon'
1,services,married,high school,NaN,No,No,telephone,nonexistent,no,"['may', 'mon']",'may','mon'

In [5]:
df_cat.isna().sum()*100/df_cat.shape[0]

job                0.811073
marital            0.203983
education          4.210782
default           20.883924
housing            2.413793
loan               2.413793
contact            0.009713
poutcome           0.009713
y                  0.009713
month_day_week     0.009713
month              0.009713
day_week           0.009713
dtype: float64

In [6]:
imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)

In [7]:
df_cat.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week'],
      dtype='object')

In [8]:
imputer = imputer.fit(df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week']])

In [9]:
df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week']] = imputer.transform(df[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'poutcome', 'y', 'month_day_week', 'month', 'day_week']])

In [10]:
df.isnull().sum()

index             4
age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
duration          4
campaign          4
pdays             2
previous          1
poutcome          0
emp,var,rate      4
cons,price,idx    4
cons,conf,idx     4
euribor3m         4
nr,employed       4
y                 0
month_day_week    0
month             0
day_week          0
dtype: int64

In [11]:
df.head(2)

,index,age,job,marital,education,default,housing,loan,contact,duration,...,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week,month,day_week
0,0.0,56.0,housemaid,married,basic 4y,No,No,No,telephone,261.0,...,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,"['may', 'mon']",'may','mon'
1,1.0,57.0,services,married,high school,No,No,No,telephone,149.0,...,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,"['may', 'mon']",'may','mon'

    2. Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [12]:
df['job'].unique()

array(['housemaid', 'services', 'administrative', 'blue-collar',
       'technician', 'retired', 'management', 'unemployed',
       'self-employed', 'entrepreneur', 'student'], dtype=object)

In [13]:
def eliminar_nulos_iterative(dataframe_completo):
    dataframe_num = dataframe_completo.select_dtypes(include = np.number)
    display(dataframe_num)
    imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')
    imputer.fit(dataframe_num)
    numericas_trans = pd.DataFrame(imputer.transform(dataframe_num), columns = dataframe_num.columns)

    dataframe_completo.drop(dataframe_num.columns, axis = 1, inplace= True)
    dataframe_completo[numericas_trans.columns] = numericas_trans[numericas_trans.columns]
    # dataframe_completo = pd.concat([dataframe_completo, numericas_trans], axis = 1)
    
    return dataframe_completo

In [14]:
df.isnull().sum()

index             4
age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
duration          4
campaign          4
pdays             2
previous          1
poutcome          0
emp,var,rate      4
cons,price,idx    4
cons,conf,idx     4
euribor3m         4
nr,employed       4
y                 0
month_day_week    0
month             0
day_week          0
dtype: int64

In [15]:
eliminar_nulos_iterative(df)

,index,age,duration,campaign,pdays,previous,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed"
0,0.0,56.0,261.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
1,1.0,57.0,149.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
2,2.0,37.0,226.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
3,3.0,40.0,151.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
4,4.0,56.0,307.0,1.0,999.0,0.0,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...
41175,41187.0,74.0,239.0,3.0,999.0,0.0,-1.1,94.767,-50.8,1.028,4963.6
41183,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41187,NaN,38.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
41178,NaN,NaN,NaN,NaN,999.0,0.0,NaN,NaN,NaN,NaN,NaN
41182,NaN,NaN,NaN,NaN,999.0,0.0,NaN,NaN,NaN,NaN,NaN

,job,marital,education,default,housing,loan,contact,poutcome,y,month_day_week,...,age,duration,campaign,pdays,previous,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed"
0,housemaid,married,basic 4y,No,No,No,telephone,nonexistent,no,"['may', 'mon']",...,56.000000,261.000000,1.000000,999.0,0.0,1.100000,93.994000,-36.40000,4.857000,5191.00000
1,services,married,high school,No,No,No,telephone,nonexistent,no,"['may', 'mon']",...,57.000000,149.000000,1.000000,999.0,0.0,1.100000,93.994000,-36.40000,4.857000,5191.00000
2,services,married,high school,No,Si,No,telephone,nonexistent,no,"['may', 'mon']",...,37.000000,226.000000,1.000000,999.0,0.0,1.100000,93.994000,-36.40000,4.857000,5191.00000
3,administrative,married,basic 6y,No,No,No,telephone,nonexistent,no,"['may', 'mon']",...,40.000000,151.000000,1.000000,999.0,0.0,1.100000,93.994000,-36.40000,4.857000,5191.00000
4,services,married,high school,No,No,Si,telephone,nonexistent,no,"['may', 'mon']",...,56.000000,307.000000,1.000000,999.0,0.0,1.100000,93.994000,-36.40000,4.857000,5191.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41175,retired,married,professional course,No,Si,No,cellular,failure,no,"['nov', 'fri']",...,74.000000,239.000000,3.000000,999.0,0.0,-1.100000,94.767000,-50.80000,1.028000,4963.60000
41183,administrative,married,university degree,No,Si,No,cellular,nonexistent,no,"['may', 'wed']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41187,administrative,married,university degree,No,Si,No,cellular,nonexistent,no,"['may', 'wed']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41178,administrative,married,university degree,No,Si,No,cellular,nonexistent,no,"['may', 'wed']",...,39.890135,249.599504,2.451745,999.0,0.0,0.083829,93.574105,-40.69256,3.623976,5167.59094
41182,administrative,married,university degree,No,Si,No,cellular,nonexistent,no,"['may', 'wed']",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.isnull().sum()

job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
poutcome          0
y                 0
month_day_week    0
month             0
day_week          0
index             3
age               3
duration          3
campaign          3
pdays             3
previous          3
emp,var,rate      3
cons,price,idx    3
cons,conf,idx     3
euribor3m         3
nr,employed       3
dtype: int64

In [17]:
df.dtypes

job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
poutcome           object
y                  object
month_day_week     object
month              object
day_week           object
index             float64
age               float64
duration          float64
campaign          float64
pdays             float64
previous          float64
emp,var,rate      float64
cons,price,idx    float64
cons,conf,idx     float64
euribor3m         float64
nr,employed       float64
dtype: object

    3. Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo KNN Imputer.

In [28]:
df_edad = df["age"].reset_index()
df_edad

       index        age
0          0  56.000000
1          1  57.000000
2          2  37.000000
3          3  40.000000
4          4  56.000000
...      ...        ...
41175  41175  74.000000
41176  41183        NaN
41177  41187        NaN
41178  41178  39.890135
41179  41182        NaN

[41180 rows x 2 columns]

In [22]:
imputerknn = KNNImputer(n_neighbors = 5)
imputerknn.fit(df['age'])

ValueError: Expected 2D array, got 1D array instead:
array=[56.         57.         37.         ...         nan 39.89013464
         nan].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

    4. Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo Simple Imputer.

    5. ¬øPodr√≠ais explicar qu√© diferencia hay entre estos √∫ltimos tres ejercicios?

    6. Guardad el csv.