### PAIR PROGRAMMING - EDA 1

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Análisis Exploratorio de Datos. Si recordamos, en la lecciones de Pandas estuvimos usando un dataset sobre la empresa de servicio de tickets de clientes, y que hicimos algunos cambios a lo largo de los ejercicios, incluimos columnas e incluso limpiamos algunas colummas 💪🏽! Para todos los ejercicios de pair programming de EDA I y II usaremos los dataframes de los tickets de todos los años y el de los empleados. Los tenéis al final del pair por si los queréis descargar.

En el ejercicio de hoy nos familiarizaremos con el dataset completo sobre el que trabajaremos en la parte de limpieza.

Pero para hacer una exploración y limpieza buena del dataset no lo podemos hacer como pollo sin cabeza a ver que nos encontramos. Necesitamos hacernos una serie de preguntas o hipótesis que queramos contestar. En este caso os plantemos las siguientes preguntas a contestar a lo largo de los ejercicios de pair programming de este módulo:

Las hipótesis que os planteamos para el conjunto de datos de historico_tickets_limpio_pandas son:

- Tiempo de resolución: Se podría hipotetizar que los tickets con mayor severidad y prioridad son resueltos en menos días que los tickets con menor prioridad. Además, se podría examinar si hay alguna correlación entre el tipo de problema y el tiempo que toma resolverlo.
  
      - La pregunta que contestaremos es: ¿Son los tickets con mayor severidad y prioridad los que se resuelven antes?
  
  ---------------------------

- Satisfacción del cliente: Se podría hipotetizar que la satisfacción del cliente está relacionada con la velocidad de resolución del ticket y la categoría del problema. Por ejemplo, los clientes podrían estar más satisfechos si sus problemas de acceso y login se resuelven rápidamente en comparación con los problemas de software más complejos.
    -  La pregunta que contestaremos es: ¿Están los clientes con problemas de acceso y login más contentos que los que tienen problemas de software?

 
  ---------------------------


- Desempeño del agente: Se podría hipotetizar que algunos agentes tienen un mejor desempeño que otros en la resolución de tickets. Se podrían explorar variables como el número de tickets asignados, el tiempo promedio de resolución y la satisfacción del cliente para identificar patrones en el desempeño de los agentes.
    - La pregunta que contestaremos es: ¿Cuáles son los empleados que más tickets atienden? ¿Son los empleados que atienden más tickets los que tardan más en solucionar los problemas de los clientes? ¿Y la media de la satisfacción de los clientes es menor en aquellos empleados que atienden más solicitudes?

 
  ---------------------------


- Cambios en el tiempo: Se podría hipotetizar que el volumen y la naturaleza de los problemas cambian con el tiempo. Por ejemplo, se podría explorar si hay un aumento en los problemas de acceso y login durante un determinado período de tiempo, o si hay una correlación entre la temporada del año y el tipo de problema reportado.
    - La pregunta que contestaremos es: ¿Hay alguna diferencia entre a lo largo del tiempo entre las distintas categorías de solicitudes de tickets que tenemos?

In [23]:
import pandas as pd
from pandas import to_datetime

In [2]:
df = pd.read_csv('datos/historico_tickets_limpio_pandas.csv', index_col = 0)

In [3]:
df.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016,Abril
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016,Junio

-- Tiempo de resolución: Se podría hipotetizar que los tickets con mayor severidad y prioridad son resueltos en menos días que los tickets con menor prioridad. Además, se podría examinar si hay alguna correlación entre el tipo de problema y el tiempo que toma resolverlo.
  
      - La pregunta que contestaremos es: ¿Son los tickets con mayor severidad y prioridad los que se resuelven antes?

1

1. Haced una exploración inicial del dataframe:

¿Cuál es el número de filas y columnas?

In [4]:
df.shape

(97386, 13)

¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [19]:
df_nulos = pd.DataFrame(df.isnull().sum() * 100/ df.shape[0])
df_nulos.head(3)

               0
id_ticket    0.0
fecha        0.0
id_empleado  0.0

¿Qué tipos de datos hay en cada columna?

In [20]:
df.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

In [21]:
df.head(3)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio

In [25]:
#Cambiamos la columna fecha a datetime
df['fecha'] = pd.to_datetime(df['fecha'])
df.dtypes

id_ticket                  object
fecha              datetime64[ns]
id_empleado                 int64
id_agente                   int64
categoría                  object
tipo                       object
severidad                  object
prioridad                  object
días_resolución             int64
satisfacción                int64
semestre                   object
año                         int64
mes                        object
dtype: object

Extraed la información general del dataframe.


2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

In [29]:
df_cat = df.select_dtypes(include= 'object')
df_cat.head(2)

,id_ticket,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio
1,GDDENR-8042508060,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Mayo

In [28]:
df_num = df.select_dtypes(include = 'int64')
df_num.head(2)

   id_empleado  id_agente  días_resolución  satisfacción   año
0         1735          4                0             5  2016
1         1566         10                0             5  2016

- ¿Cuáles son los principales estádisticos de los dataframes?

In [31]:
df_cat.describe().T

           count unique                top   freq
id_ticket  97386  97386  GDDENR-5042564453      1
categoría  97386      4            Sistema  38961
tipo       97386      2          Solicitud  73138
severidad  97386      5         2 - Normal  88555
prioridad  97386      4           3 - Alta  35511
semestre   97386      2        2º semestre  49876
mes        97386     12            Octubre   8487

In [32]:
df_num.describe().T

,count,mean,std,min,25%,50%,75%,max
id_empleado,97386.0,999.160639,577.407222,1.0,500.0,999.0,1499.0,2000.0
id_agente,97386.0,25.468856,14.449455,1.0,13.0,26.0,38.0,50.0
días_resolución,97386.0,4.552749,4.365432,0.0,0.0,4.0,7.0,21.0
satisfacción,97386.0,4.100990,1.257093,1.0,4.0,5.0,5.0,5.0
año,97386.0,2018.399164,1.393095,2016.0,2017.0,2019.0,2020.0,2020.0

- Extraed los valores únicos.

In [34]:
for col in df_cat.columns:
    print(df_cat[col].unique())

['GDDENR-5042564453' 'GDDENR-8042508060' 'GDDESR-1342539995' ...
 'TWRTSR-9643846768' 'TWRTSR-9944138906' 'TWRTST-8643986162']
['Acceso/Login' 'Sistema' 'Software' 'Hardware']
['Problema' 'Solicitud']
['0 - Sin Clasificar' '2 - Normal' '4 - Crítico' '3 - Mayor' '1 - Menor']
['0 - Sin Asignar' '3 - Alta' '2 - Media' '1 - Baja']
['2º semestre' '1 semestre']
['Julio' 'Mayo' 'Junio' 'Abril' 'Agosto' 'Marzo' 'Enero' 'Septiembre'
 'Octubre' 'Diciembre' 'Noviembre' 'Febrero']

  
BONUS presenta los resultados en un dataframe. Os deberá quedar algo como esto:

In [47]:
diccionario1 = {'Variable': [], 'n_unicos': []}

for col in df_num.columns:

    # print(df_num[col].unique())
    diccionario1['Variable'].append(col)
    diccionario1['n_unicos'].append(df_num[col].unique())

    # dicc = {col: df_num[col].unique()}
    # diccionario.update(dicc)

In [48]:
diccionario1

{'Variable': ['id_empleado',
  'id_agente',
  'días_resolución',
  'satisfacción',
  'año'],
 'n_unicos': [array([1735, 1566,  569, ..., 1528, 1367, 1600]),
  array([ 4, 10, 29, 40, 31, 20, 36, 18, 12, 42,  5, 21, 17,  2, 24, 23, 15,
         46, 43, 27,  8, 45, 32, 38, 33, 41,  3,  9, 25, 39, 16, 47, 14, 48,
         37, 35, 34, 28, 30,  1, 11, 19, 44,  6, 26, 49,  7, 22, 50, 13]),
  array([ 0,  3,  9,  1,  2,  5,  8,  4, 10,  6,  7, 13, 16, 17, 11, 12, 14,
         15, 19, 18, 21, 20]),
  array([5, 1, 4, 3, 2]),
  array([2016, 2017, 2018, 2019, 2020])]}

In [53]:
df_dico1 = pd.DataFrame(diccionario1)
df_dico1.head()

          Variable                                           n_unicos
0      id_empleado  [1735, 1566, 569, 320, 1842, 59, 1175, 561, 71...
1        id_agente  [4, 10, 29, 40, 31, 20, 36, 18, 12, 42, 5, 21,...
2  días_resolución  [0, 3, 9, 1, 2, 5, 8, 4, 10, 6, 7, 13, 16, 17,...
3     satisfacción                                    [5, 1, 4, 3, 2]
4              año                     [2016, 2017, 2018, 2019, 2020]

In [49]:
diccionario2 = {'Variable': [], 'n_unicos': []}

for col in df_cat.columns:

    # print(df_num[col].unique())
    diccionario2['Variable'].append(col)
    diccionario2['n_unicos'].append(df_cat[col].unique())

In [50]:
diccionario2

{'Variable': ['id_ticket',
  'categoría',
  'tipo',
  'severidad',
  'prioridad',
  'semestre',
  'mes'],
 'n_unicos': [array(['GDDENR-5042564453', 'GDDENR-8042508060', 'GDDESR-1342539995', ...,
         'TWRTSR-9643846768', 'TWRTSR-9944138906', 'TWRTST-8643986162'],
        dtype=object),
  array(['Acceso/Login', 'Sistema', 'Software', 'Hardware'], dtype=object),
  array(['Problema', 'Solicitud'], dtype=object),
  array(['0 - Sin Clasificar', '2 - Normal', '4 - Crítico', '3 - Mayor',
         '1 - Menor'], dtype=object),
  array(['0 - Sin Asignar', '3 - Alta', '2 - Media', '1 - Baja'],
        dtype=object),
  array(['2º semestre', '1 semestre'], dtype=object),
  array(['Julio', 'Mayo', 'Junio', 'Abril', 'Agosto', 'Marzo', 'Enero',
         'Septiembre', 'Octubre', 'Diciembre', 'Noviembre', 'Febrero'],
        dtype=object)]}

In [52]:
df_dico2 = pd.DataFrame(diccionario2)
df_dico2.head()

    Variable                                           n_unicos
0  id_ticket  [GDDENR-5042564453, GDDENR-8042508060, GDDESR-...
1  categoría        [Acceso/Login, Sistema, Software, Hardware]
2       tipo                              [Problema, Solicitud]
3  severidad  [0 - Sin Clasificar, 2 - Normal, 4 - Crítico, ...
4  prioridad   [0 - Sin Asignar, 3 - Alta, 2 - Media, 1 - Baja]

In [ ]:
#Concatenamos ambos dataframes para tenerlo todo en uno solo:
# df_describe = pd.concat(['df_dico1', 'df_dico2'], axis = 0) ##TERMINAR DE AÑADIR EL CÓDIGO NECESARIO PARA UNIR

De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.

- ¿Hay alguna columna que no tenga sentido su tipo de datos?
- ¿Hay alguna columna que no tenga sentido su nombre?
- ¿Hay alguna columna que no tenga sentido su contenido?
- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

1. Haced una exploración inicial del dataframe:

¿Cuál es el número de filas y columnas?
¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.
¿Qué tipos de datos hay en cada columna?
Extraed la información general del dataframe.